.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.rounded-full {
  border-radius: 50%;
}

.overflow-hidden {
  overflow: hidden;
}

.border-4 {
  border-width: 4px;
}

.border-white {
  border-color: white;
}
